
<div class="panel"><h2>Identité</h2>
  <div class="grid">
    <label>Métier <input type="text" name="system.identity.metier" value="{{system.identity.metier}}"/></label>
    <label>Don <input type="text" name="system.identity.don" value="{{system.identity.don}}"/></label>
    <label>Défaut <input type="text" name="system.identity.defaut" value="{{system.identity.defaut}}"/></label>
    <label>Secret <input type="text" name="system.identity.secret" value="{{system.identity.secret}}"/></label>
  </div>
  <label>Histoire<textarea name="system.biography">{{system.biography}}</textarea></label>
</div>
