<form class="{{cssClass}} unicreon item-sheet spell-sheet" autocomplete="off">
    <header class="sheet-header flexrow">
        <div class="item-image">
            <img src="{{item.img}}" data-edit="img" />
        </div>

        <div class="item-summary flexcol">
            <div class="item-name">
                <input name="name" type="text" value="{{item.name}}" />
            </div>

            <div class="item-meta flexrow">
                <span class="tag">Sort / Pouvoir</span>
                {{#if system.pricePo}}<span class="tag">{{system.pricePo}} PO</span>{{/if}}
            </div>
        </div>
    </header>

    <nav class="sheet-tabs tabs">
        <a class="item" data-tab="props">Propriétés</a>
        <a class="item" data-tab="description">Description</a>
    </nav>

    <section class="sheet-body">

        <!-- PROPRIETES -->
        <div class="tab" data-tab="props">

            <div class="form-group">
                <label>Stat liée</label>
                <select name="system.stat">
                    {{#each config.stats}}
                    <option value="{{@key}}" {{optionSel ../system.stat @key}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>

            <div class="form-group">
                <label>Temps d'invocation</label>
                <input name="system.time" type="text" value="{{system.time}}"
                    placeholder="1 minute, 1 passe d'armes…" />
            </div>

            <div class="form-group">
                <label>Épuisement</label>
                <input name="system.epuisement" type="text" value="{{system.epuisement}}" placeholder="15 minutes…" />
            </div>

            <div class="form-group">
                <label>Coût points de sorts</label>
                <input type="number" name="system.costPS" value="{{system.costPS}}" min="0" />
            </div>

            <div class="form-group">
                <label>Coût en actions</label>
                <input type="number" name="system.actionsCost" value="{{system.actionsCost}}" min="0" />
                <p class="hint">0 = gratuit, 1 = une action, 2 = deux actions…</p>
            </div>

            <div class="form-group">
                <label>Effet (tag UNICREON)</label>
                <input type="text" name="system.effectTag" value="{{system.effectTag}}"
                    placeholder="[4 PV], [puissance 3]…" />
            </div>

            <div class="form-group">
                <label>&nbsp;</label>
                <button type="button" data-action="use-spell">✨ Lancer ce sort</button>
            </div>
        </div>

        <!-- DESCRIPTION -->
        <div class="tab" data-tab="description">
            <label>Description</label>
            {{editor system.description target="system.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>